body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: #e60d0d;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 2.5em;
}

button {
    background-color: #ff0404;
    color: rgb(253, 253, 253);
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #cc0000;
}


@keyframes heartAnimation {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(calc(50vw - 50%), calc(50vh - 50%)) rotate(720deg) scale(1.5);
        opacity: 0;
    }
}

.heart {
    position: absolute;
    font-size: 2rem;
    color: red;
    animation: heartAnimation 10s ease-in infinite;
    pointer-events: none;
    z-index: 9999;
}

#surpriseMessage {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
